<div id="custom-modal">
	<div id="overlay">
		<div class="conitaner">
			<div class="col-xs-6 col-md-6 ">
				<h4> RESERVAR CITA </h4>
				<h4> Dia: {{ selectedappointment.dateString }} </h4>
				<h4> Hora: {{ selectedappointment.time }} </h4>
			</div>
		</div>
		<div class="col-md-4">
			<label class="control-label" for="input">Nombre:</label>
			<input class="form-control" type="text" name="name" required="">
		</div>
		<div class="col-md-4">
			<label class="control-label" for="input">Telefono:</label>
			<input class="form-control" type="number" name="tlf" required="">
		</div>
		<a class="button_info btn btn-default btn-lg" href="" ng-click="showAppointmentModal(appointment)">Reservar</a>
		<div>
			<a href ng-click="close()">Close</a>
		</div>
	</div>
	<div id="fade"></div>
</div>