<div id="custom-modal" ng-controller="AppCtrl">
	<div id="overlay">
		<div class="conitaner" ng-show="afterBooking">
			<div class="col-xs-6 col-md-6 ">
				<h4> TU RESERVA HA SIDO GESTIONADA CORRECTAMENTE </h4>
				<h4> QUE TENGAS UN BUEN DIA </h4>
			</div>
			<div>
				<a href ng-click="close()">Close</a>
			</div>
		</div>
		<div class="conitaner" ng-show="beforeBooking">
			<div class="col-xs-3 col-md-3 ">
				<h4> RESERVAR CITA </h4>
				<h4> Dia: {{ selectedappointment.dateString }} </h4>
				<h4> Hora: {{ selectedappointment.time }} </h4>
			</div>
			<div class="col-md-4">
				<label class="control-label" for="input">Nombre:</label>
				<input class="form-control" type="text" ng-model="name" ng-required="true">
			</div>
			<div class="col-md-4">
				<label class="control-label" for="input">Telefono:</label>
				<input class="form-control" type="number" ng-model="tlf" ng-required="required">
			</div>
			<div>
				<a class="button_info btn btn-default btn-lg" href="" ng-click="addAppointment(selectedappointment)">Reservar</a>
			</div>
			<div>
				<a class="closemodal" href ng-click="close(selectedappointment)">Close</a>
			</div>
		</div>
	</div>
	<div id="fade"></div>
</div>