extends layout

block content

	.container.container-create
		.col-md-6#container-left
			h1
				span.glyphicon.glyphicon-pencil.icon_create
				|  Añadir producto o servicio
		
			form.form-grup(action='/create', method='POST', role='form')
				.form-group
					.col-md-12
						.row
							.col-md-4
								label.control-label(for='input') Título:
								input.form-control(type='text', name='title', required='')
							.col-md-4
								label.control-label(for='input') Precio:
								input.form-control(type='text', name='price', required='')
							.col-md-4
								.form-group
									label(for='sel1') Selecciona el tipo:
									select#sel1.form-control(name='type', required="")
										option(value='') Selecciona una opción
										option producto
										option servicio
											
							.col-md-12
								label.control-label(for='input') Descripción:
								textarea.form-control(type='text' name='desc', rows='8', cols='100', required='')
							.col-md-12
								label.control-label(for='input') Imagen:
								input.form-control(type='text', name='url', required='')
				
				.col-md-12
					button.btncrear.btn.botton_create(type='submit') Crear

		.col-md-6#container-right(ng-controller='productsCtrl')
					h1.text-center Base de Datos
					table.table.table-hover
						thead
							tr
								th #
								th Title
								th Type
								th Action
						tbody
							tr(ng-repeat='ps in productsServices | orderBy:"type"')
								th(scope='row') {{$index}}
								td {{ ps.title }} 
								td {{ ps.type }} 
								td  
									a#link-update(href='http://localhost:3000/items/update/{{ps._id}}', ng-click='updateNewPage(ps)') update
									br
									a#link-delete(href="#", ng-click='deleteElement(ps._id)') delete
						

