extends layout

block content
	
	a.banner(href='http://localhost:3000/products')
		.products
			.row
				.col-xs-2.col-md-3
				.col-xs-10.col-sm-5
					h1.title
						| PRODUCTOS DE 
						span.titleSpan ALTA CALIDAD
	a.banner(href='http://localhost:3000/services')
		.services
			.row
				.col-xs-2.col-md-3
				.col-xs-9.col-sm-5
					h1.title 
						| SERVICIOS CON LOS 
						span.titleSpan MEJORES PROFESIONALES
				.col-xs-1.
	a.banner(href='http://localhost:3000/appointments')
		.appointments
			.row
				.col-xs-2.col-md-3
				.col-xs-10.col-sm-5
					h1.title 
						| RESERVA 
						span.titleSpan CITA ONLINE



   
		